.et_pb_column .popup_content {
    display: none;
}

.post-thumbnail .wp-caption {
    max-width: 100%;
}

@media only screen and (min-width: 480px) and (max-width: 769px)
{
    .et_pb_extra_column_sidebar {
        flex-direction: row;
    }
    .et_pb_extra_column_sidebar .et_pb_widget {
        max-width:  calc( 50% - 12px);
    }
    .et_pb_extra_column_sidebar .et_pb_widget:nth-of-type(1),
    .et_pb_extra_column_sidebar .et_pb_widget:nth-of-type(3),
    .et_pb_extra_column_sidebar .et_pb_widget:nth-of-type(5){
        margin-right: 24px;
    }
}

/* NAVIGATION */

#et-navigation > ul > li > a {
    padding: 0 0 30px;
}

/* main menu submenu */
#et-navigation .nav li ul {
    padding: 0;
    top: 28px;
    left: 0;
}

#et-navigation .nav li ul li a {
    padding: 12px 0;
}
/*

.et-fixed-header #main-header #et-navigation .nav li ul{
    top: 0;
}

*/



.page .post-wrap h1 {
    line-height: 1.3;
}

.page .wp-editor-tools {
    display: none;
}

.page .mce-btn .mce-txt {
    font-size: 13px;
}

/* DIRECTORY */
.single-at_biz_dir h1.entry-title {
    display: none;
}

.atbd_excerpt_content a {
    display: block;
}

#directorist.atbd_wrapper h1, #directorist.atbd_wrapper h2, #directorist.atbd_wrapper h3, #directorist.atbd_wrapper h4, #directorist.atbd_wrapper h5, #directorist.atbd_wrapper h6, #directorist.atbd_wrapper .h1, #directorist.atbd_wrapper .h2, #directorist.atbd_wrapper .h3, #directorist.atbd_wrapper .h4, #directorist.atbd_wrapper .h5, #directorist.atbd_wrapper .h6

.atbd_content_active #directorist.atbd_wrapper h1, .atbd_content_active #directorist.atbd_wrapper h2, .atbd_content_active #directorist.atbd_wrapper h3, .atbd_content_active #directorist.atbd_wrapper h4, .atbd_content_active #directorist.atbd_wrapper h5, .atbd_content_active #directorist.atbd_wrapper h6, .atbd_content_active #directorist.atbd_wrapper .h1, .atbd_content_active #directorist.atbd_wrapper .h2, .atbd_content_active #directorist.atbd_wrapper .h3, .atbd_content_active #directorist.atbd_wrapper .h4, .atbd_content_active #directorist.atbd_wrapper .h5, .atbd_content_active #directorist.atbd_wrapper .h6

{
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Georgia',Georgia,"Times New Roman",serif;
    font-weight: bold;
}


.atbd_add_listing_title {
    display:none;
}

/* EVENTS */

.page .mec-event-article {
    border-top-width: 1px;
}

.mec-wrap .button,
.mec-wrap button:not(.owl-dot),
.mec-wrap a.button:not(.owl-dot),
.mec-wrap input[type="submit"],
.mec-wrap input[type="reset"],
.mec-wrap input[type="button"],
.mec-events-button,
.mec-load-more-button {

    outline: none;
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 12px;
    border: 0;
    border-style: solid;
    border-radius: 3px;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    line-height: normal;
    text-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
    border-color: #FFFFFF;


}

.mec-wrap .button:hover,
.mec-wrap button:hover,
.mec-wrap a.button:hover,
.mec-wrap input[type="submit"]:hover,
.mec-wrap input[type="reset"]:hover,
.mec-wrap input[type="button"]:hover,
.mec-events-button:hover,
.mec-load-more-button:hover {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.75);
    text-shadow: none;
}

.mec-fes-form-top-actions {
    display: none;
}

.mec-fes-form .mec-meta-box-fields {

    border: 1px solid #e3e6ef;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 35px;
    background: #ffffff;
    text-align: left;
}

.mec-fes-form h4 {

    border-bottom: 1px solid #e3e6ef;
    line-height: 1.2;
    padding: 20px 30px;
    margin-bottom: 20px;

}

.mec-fes-form .mec-meta-box-fields .mec-form-row,
.mec-fes-form .mec-meta-box-fields .mec-title {
    padding: 0 30px;
}

.mec-fes-form label,
.acf-field .acf-label label {
    color: #202428;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 8px;
}

.mec-fes-form .wp-editor-container,
.acf-form .wp-editor-wrap {
    margin-bottom: 20px;
}

.acf-fields>.acf-field {
    position: relative;
    margin: 0;
    padding: 0;
    border-top: none;
}

.mec-fes-form input[type=text],
.mec-fes-form input[type=number],
.mec-fes-form input[type=email],
.mec-fes-form input[type=password],
.mec-fes-form input[type=tel],
.mec-fes-form textarea,
.mec-fes-form select,
.acf-form input[type=text],
.acf-form input[type=number],
.acf-form input[type=email],
.acf-form input[type=password],
.acf-form input[type=tel],
.acf-form textarea,
.acf-form select {
    padding: 10px 15px;
    height: auto;
    line-height: 1.5 !important;
    display: block;
    width: 100%;
    font-size: 15px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dbdaf7;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;


    margin-bottom: 20px;
}

.mec-time-picker select {
    display: inline-block;
    margin-right: 2%;
    width: 30%;
}

/* FOOTER */
#footer {
    background-color: #3f5062;
}

#footer .et_pb_widget .widgettitle {
    background: none !important;
    color: #7ab7cc;
    line-height: 16px;
    margin-bottom: 5px;
}

#footer .et_pb_widget.widget_text .textwidget {
    color: #fff;
    padding: 15px 0;
}